@media (max-width: 420px) {
  .photo {
    width: 180px;
  }
}
@media (max-width: 180px){
  .photo{
    width: 100px;
  }
}

h1 {
  text-align: center;
}

.lang-switch {
  text-align: center;
  margin-bottom: 10px;
}
.lang-switch button {
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: black;
  color: aqua;
  transition: 0.3s;
}
.lang-switch button:hover, .lang-switch button.active {
  background-color: aqua;
  color: black;
}


.TextPhoto {
  text-align: center;
  font-size: 15px;
}
.photo {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 10px;
}

.zero {
  text-align: center;
  cursor: pointer;
}

.zero img {
  width: 250px; /* маленький прев’ю розмір */
  height: 200px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zero img:hover {
  transform: scale(1.05);
}

.TextPhoto {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

/* Overlay */
.overlay {
  position: fixed;
  display: none; /* сховане спочатку */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.overlay #close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

